#cloud-config
hostname: _HOSTNAME
users:
  - name: ansible
    groups:
      - sudo
    shell: /bin/bash
    sudo: ALL=(ALL) NOPASSWD:ALL
    ssh-authorized-keys:
      - _SSKPUBKEY
chpasswd:
  list: |
    ansible:(ansible)
  expire: False
